body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.first-block {
    background-image: url('../img/first_block_back.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position-x: right;
    margin-bottom: 70px;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;        
}

header img {
    margin-top: 20px;
    margin-left: 10px;
}

.img-logo {
    margin-left: 20%;
}

.img-social {
    margin-right: 20%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.ul_img {
    list-style-type: none;
    padding: 0;
}

.li_img1 {
    margin: 0 0 10px 0;
    padding: 0 0 0 30px;
    background: url('../img/li_img1.png') no-repeat;
    background-size: 30px; /* Размер изображения маркера */
    line-height: 1.5;
}

.li_img2 {
    margin: 0 0 10px 0;
    padding: 0 0 0 30px;
    background: url('../img/li_img2.png') no-repeat;
    background-size: 30px; /* Размер изображения маркера */
    line-height: 1.5;
}

.li_img3 {
    margin: 0 0 10px 0;
    padding: 0 0 0 30px;
    background: url('../img/li_img3.png') no-repeat;
    background-size: 30px; /* Размер изображения маркера */
    line-height: 1.5;
}

.li_img4 {
    margin: 0 0 10px 0;
    padding: 0 0 0 30px;
    background: url('../img/li_img4.png') no-repeat;
    background-size: 30px; /* Размер изображения маркера */
    line-height: 1.5;
}


.content-wrapper {
    display: flex;
    width: 100%;
}

.spacer {
    margin-left: 10%;
}

.text-section {
    flex: auto;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-section {
    display: flex;
    margin-right: 5%;
    flex-direction: column;
    justify-content: center;
}

.image-above-button {
    height: 30em; 
    margin-top: 10%;    
}

.info-button {
    position: block;
    margin-top: -10%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 80px;
    background-color: #E96028;
    color: white;
    text-decoration: none;
    border-radius: 50px; /* Задаем радиус скругления краев */
}

.second-block {
    background-image: url('../img/second_block_back.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-block {
    margin-bottom: 20px;
}

.text-block-header {
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(118, 117, 117, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px #000000;
    width: 50%;
    border-radius: 20px;
}