@media only screen and (max-width: 768px) {

    * {
        box-sizing: border-box;
        /* Устанавливаем для всех элементов box-sizing: border-box для корректной работы отступов */
    }

    body,
    html {
        overflow-x: hidden;
        /* Предотвращаем появление горизонтальной полосы прокрутки */
    }

    .first-block {
        margin-bottom: 30px;
        background-position: center;
        /* Изменяем позицию фона для первого блока */
    }

    header img {
        margin-left: 10px;
    }

    .img-logo {
        margin-left: 10px;
        margin-right: 10px;
    }

    .img-social {
        margin-right: 10px;
    }

    .social-icon {
        min-width: 15%;
        max-width: 25%;
    }

    nav {
        padding: 10px;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        width: 100%;
        background: #f8f8f8;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav ul.active {
        display: flex;
    }

    nav li {
        margin: 10px 0;
    }

    .ul_img {
        display: flex;
        flex-wrap: wrap;
        font-size: 16pt;
    }

    .li_img {
        margin: 10px;
        width: 100px;
    }

    .h1-container {
        position: relative;

    }

    .h1-img {
        width: 450px;
        height: auto;
    }

    .text-section h1 {
        font-size: 24pt;
        padding-right: 20px;
        text-align: left;
        font-size: 35pt;
    }

    .text-section h2 {
        font-size: 26pt;
    }

    .info-button {
        font-size: 20pt;
        padding: 30px 170px;
    }

    .image-above-button {
        margin-left: 15%;
    }

    .container {
        padding: 0 20px;
    }

    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .h1-container {
        text-align: center;
    }

    .h1-container-forth {
        width: 80%;
    }

    .h1-img1,
    .h1-img2 {
        width: 60px;
        height: 60px;
    }

    .gallary {
        grid-template-columns: 150px 250px 200px;
        grid-gap: 10px;
    }

    .gallary> :nth-child(6) img {
        margin-left: -40%;
    }

    .six-block {
        display: flex;
        flex-wrap: wrap;
    }

    .faq .question {
        justify-content: center;
        padding: 25px 0 0 0;
        font-size: 20pt;
    }

    .seven-block .spacer h1 {
        padding-left: 50px;
    }

    .eght-block h1 {
        font-size: 35pt;
    }

    .eght-block p {
        font-size: 25pt;
    }

    .scroll-to-top {
        bottom: 20px;
        right: 20px;
    }

    .nine-block {
        display: block;
        justify-content: left;
        align-content: center;
    }

    .nine-block .spacer {
        font-weight: 700;
        font-size: 20pt;
        padding: 5px;
    }

    .nine-block .right {
        font-weight: 700;
        font-size: 18pt;
        margin-left: 80px;
    }

    .nine-block p {
        font-weight: 500;
        font-size: 18pt;
    }
}