body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Montserrat";
    font-weight: bold;
}

.first-block {
    background-image: url('img/first_block_back.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin-bottom: 70px;
    background-size: cover;
    background-position: right;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

header img {
    margin-top: 20px;
    margin-left: 20px;
}

.img-logo {
    margin-left: 15%;
    margin-right: 20px;
}

.img-social {
    margin-right: 15%;
}

.social-icon {
    min-width: 20%;
    max-width: 30%;
    height: auto;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000; /* set the color you prefer for the underline */
    transition: width 0.5s; /* adding a transition for smooth effect */
}

nav a:hover::after {
    width: 100%; /* when hover, the width expands to create the underline effect */
}

.ul_img {
    display: flex;
    padding: 0;
}

.li_img {
    margin: 10px 10px 10px 0;
    line-height: 2.5;
}

.ul_img p {
    align-content: center;
    justify-content: center;
    margin: 0;
}

.content-wrapper {
    display: flex;
    width: 100%;
}

.spacer {
    margin-left: 10%;
}

.text-section {
    flex: auto;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1-container {
    position: relative;
}

.h1-img {
    position: absolute;
    top: -20px;
    right: 0;
    width: 200px;
    height: auto;
}

.text-section h1 {
    font-weight: 700;
    font-size: 30pt;
    margin: 0;
    padding-right: 120px;
}

.button-section {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.image-above-button {
    max-width: 72%;
    height: auto;
    margin-left: 20%;
}

.info-button {
    text-align: center;
    padding: 20px 80px;
    background-color: #E96028;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: box-shadow 0.3s, transform 0.3s;
    display: inline-block;
}

.info-button:hover {
    box-shadow: 0 0 20px #E96028;
}

.info-button:active {
    transform: scale(0.95);
    box-shadow: none;
    background-color: #D44E21;
}

.second-block {
    background-image: url('img/second_block_back.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-position-x: -30%;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.first_item,
.therd_item {
    opacity: 0;
    transition: opacity 0.5s;
    max-width: 60%;
    margin-bottom: 10px;
    margin-left: -40%;
}

.second_item {
    opacity: 0;
    transition: opacity 0.5s;
    max-width: 90%;
    align-self: flex-end;
    margin-bottom: 5px;
}


.text-section-2 h1 {
    font-weight: 700;
    font-size: 30pt;
    margin-bottom: 70px;
    padding-right: 120px;
}

.text-block {
    margin-bottom: 50px;
}

.text-block-header {
    margin-bottom: 20px;
    font-size: larger;
}

.text-block-description {
    font-weight: 500;
}

.therd-block h1 {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.therd-container {
    max-width: 100%;
    margin: 0;
    background: linear-gradient(to bottom, white, #D7EEFC, white);
}

.therd-block {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 5%;
}

.gallary {
    display: grid;
    grid-template-columns: 270px 450px 350px;
    grid-template-rows: auto 140px 140px;
    grid-gap: 15px;
    justify-content: center;

}

.image-gallary {
    position: relative;
    width: auto;
    height: fit-content;
}

.image-gallary img {
    transition: transform 0.5s;
}

.gallary> :nth-child(-n+3) img {
    object-fit: cover;
}

.gallary :nth-child(4) img,
.gallary :nth-child(5) img {
    grid-row: 2;
}

.gallary :nth-child(7) img,
.gallary :nth-child(8) img {
    grid-row: 3;
}

.gallary> :nth-child(6) img {
    grid-column: 3;
    grid-row: 2 / span 2;
    margin-left: -57%;
}


.image-gallary:hover img {
    transform: scale(1.04);
}

.forth-block {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;

    background-image: url('img/forth_block_back.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.h1-container-forth {
    text-align: center;
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.h1-img1 {
    position: absolute;
    top: -50px;
    left: 0;
}

.h1-img2 {
    position: absolute;
    bottom: -50px;
    right: 0;
}

.h1-img1,
.h1-img2 {
    width: 80px;
    height: 80px;
}

.forth-img {
    text-align: center;
}

.forth-img img {
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
}

.fifth-block {
    background-image: url('img/fifth_block_back.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
    display: flex;
    margin-bottom: 160px;
}

.fifth-block h1 {
    color: white;
    font-weight: 700;
    font-size: 30pt;
    width: 120%;
    margin-top: 50px;
}

.fifth-block h1 span {
    color: #00B08C;
    background: white;
    padding: 3px 8px;
    border-radius: 10px;
}

.fifth-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 10%;
}

.fifth-container img {
    width: 35%;
    margin-right: -20%;
}

.fifth-text {
    background-color: white;
    border-radius: 20px;
    width: 120%;
}

.fifth-text p {
    text-align: center;
    padding: 20px;
    font-size: 18pt;
    font-weight: 500;
}

.fifth-button-section {
    display: flex;
    padding-right: 70px;
    margin-top: 30%;
    transition: box-shadow 0.3s, transform 0.3s;
    display: inline-block;
}

.six-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom, white, #D7EEFC, white);
}

.six-block>div {
    display: flex;
    flex-direction: column;

}

.six-block img {
    max-width: 100%;
    transition: transform 0.5s;
}

.six-block img:hover {
    transform: scale(1.1);
}

.six-block .six_line {
    display: flex;
    align-items: center;
    width: 10%;
    margin-left: -10%;
}

.six-left {
    width: 45%;
    align-items: center;
    font-size: 16pt;
    margin-top: -5%;
}

.six-right {
    width: 45%;
    justify-content: left;
    font-size: 20pt;
    margin-top: -10%;
    font-weight: 500;
}

.seven-block {
    background-image: url('img/forth_block_back.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.seven-block .spacer h1{
    padding-top: 10%;
    padding-bottom: 5%;
}

.seven-block ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.faq {
    width: 70%; 
    margin: 0 auto;
}

.question {
    position: relative;
    
}

.seven-block hr {
    margin-top: 5px;
}

.question-text {
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 16pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

.plus-icon {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.answer {
    display: none;
    font-weight: 500;
    font-size: 14pt;
}

.eght-block{
    padding-top: 5%;
}

.eght-block h1{
    position: relative;
    text-align: center;
    font-size: 40pt;
    font-weight: 700;
}

.eght-block p{
    position: relative;
    text-align: center;
    font-size: 22pt;
    font-weight: 500;
    padding-bottom: 2.5%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form {
    text-align: center;
}

.input-field {
    border: 2px solid #1853A0;
    border-radius: 40px;
    padding: 15px 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14pt;
    transition: box-shadow 0.3s, transform 0.3s;
}

.input-field:hover {
    box-shadow: 0 0 20px #81afeb;
}

.submit-button {
    background-color: #1853A0;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-size: 14pt;
    cursor: pointer;

    transition: box-shadow 0.3s, transform 0.3s;
    display: inline-block;
}

.submit-button:hover {
    box-shadow: 0 0 20px #81afeb;
}

.submit-button:active {
    transform: scale(0.95);
    box-shadow: none;
    background-color: #174889; /* Adjust color when button is pressed */
}

.nine-block {
    background-image: url('img/nine_block_back.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
    color: white;
    display: flex;
}

.nine-block .spacer{
    flex: 1;
    justify-content: center;
    align-content: center;
    font-weight: 700;
    font-size: 18pt;
}

.nine-block .right{
    flex: 1;
    justify-content: center;
    align-content: center;
    font-weight: 700;
    font-size: 16pt;
    margin-left: 100px;
}

.nine-block p{
    font-weight: 500;
    font-size: 14pt;
}
